<div uib-alert ng-repeat="alert in about.alerts" ng-class="'alert-' + (alert.type || 'warning')" close="about.closeAlert($index)">{{alert.msg}}</div>

<div class="col-sm-3" ng-class="{'has-error': !about.cep}">
    <md-input-container>
        <label>CEP</label>
        <input type="text" ng-focus="about.closeAlert($index)" name="nome" ng-model="about.cep" name="" value="" ui-br-cep-mask>
    </md-input-container>
</div>
<md-button class="md-raised md-primary" ng-click="about.teste()" ng-disabled="!about.cep">Buscar</md-button>



<div id="inTurnFadingTextG" ng-show="about.load">
    <div id="inTurnFadingTextG_1" class="inTurnFadingTextG">P</div>
    <div id="inTurnFadingTextG_2" class="inTurnFadingTextG">r</div>
    <div id="inTurnFadingTextG_3" class="inTurnFadingTextG">o</div>
    <div id="inTurnFadingTextG_4" class="inTurnFadingTextG">c</div>
    <div id="inTurnFadingTextG_5" class="inTurnFadingTextG">u</div>
    <div id="inTurnFadingTextG_6" class="inTurnFadingTextG">r</div>
    <div id="inTurnFadingTextG_7" class="inTurnFadingTextG">a</div>
    <div id="inTurnFadingTextG_8" class="inTurnFadingTextG">n</div>
    <div id="inTurnFadingTextG_9" class="inTurnFadingTextG">d</div>
    <div id="inTurnFadingTextG_10" class="inTurnFadingTextG">o</div>
    <div id="inTurnFadingTextG_11" class="inTurnFadingTextG">.</div>
    <div id="inTurnFadingTextG_12" class="inTurnFadingTextG">.</div>
    <div id="inTurnFadingTextG_13" class="inTurnFadingTextG">.</div>
    <div id="inTurnFadingTextG_14" class="inTurnFadingTextG">.</div>
    <div id="inTurnFadingTextG_15" class="inTurnFadingTextG">.</div>
    <div id="inTurnFadingTextG_16" class="inTurnFadingTextG">.</div>
</div>


<!--

<script type="text/ng-template" id="alert.html">
    <div ng-transclude></div>
</script>-->

<!--<md-content layout-padding ng-cloak>-->
<!--<div flex-gt-xs>
    <md-datepicker ng-model="ctrl.myDate" md-placeholder="Enter date"></md-datepicker>
</div>-->
<!--</md-content>-->

<br/>

<div id="form-cep">
    <md-input-container>
        <label>Logradouro</label>
        <input ng-model="about.logradouro">
    </md-input-container>

    <md-input-container>
        <label>Bairro</label>
        <input ng-model="about.bairro">
    </md-input-container>

    <md-input-container>
        <label>Cidade</label>
        <input ng-model="about.localidade">
    </md-input-container>

    <md-input-container>
        <label>UF</label>
        <input ng-model="about.uf">
    </md-input-container>
</div>