<div class="gridContainer">

    {{ 'LIST' | translate }}

    <div class="gridStyle" ui-grid="contact.gridOptions" ui-grid-selection></div>

    <!--<button ng-click="contact.teste()">text</button>

    <button ng-click="contact.ok()">text</button>-->


    <md-input-container>
        <label>{{ 'NAME' | translate }}</label>
        <input ng-model="contact.nome">
    </md-input-container>

    <md-input-container>
        <label>{{ 'AGE' | translate }}</label>
        <input ng-model="contact.idade">
    </md-input-container>

    <button class="btn btn-info" ng-click="contact.select()">All</button>

</div>